# CSI 4107, Winter 2021
## Assignment 1 - Microblog information retrieval system

### Step 1: Preprocessing

In [3]:
import pandas as pd
import numpy as np
import math
import pandas_read_xml as pdx
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.tokenize.treebank import TreebankWordDetokenizer
from collections import defaultdict
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import pairwise
from scipy import spatial

In [4]:
queriesDf = pdx.read_xml("../queries.xml", ['queries', 'top'])
queriesDf.head()

,num,title,querytime,querytweettime
0,Number: MB001,BBC World Service staff cuts,Tue Feb 08 12:30:27 +0000 2011,34952194402811904
1,Number: MB002,2022 FIFA soccer,Tue Feb 08 18:51:44 +0000 2011,35048150574039040
2,Number: MB003,Haiti Aristide return,Tue Feb 08 21:32:13 +0000 2011,35088534306033665
3,Number: MB004,Mexico drug war,Wed Feb 02 17:22:14 +0000 2011,32851298193768448
4,Number: MB005,NIST computer security,Fri Feb 04 17:44:09 +0000 2011,33581589627666432

In [5]:
#read tweets and transform into dataframe
data = []
with open('../Trec_microblog11.txt', 'r', encoding='utf-8', errors='replace') as infile:
    lines = infile.readlines()
    for i in lines:
        data.append(i.split('\t'))
        
data = np.array(data) #2d numpy array
        
df = pd.DataFrame({'ID': data[:, 0], 'text': data[:, 1]})
df.head()

                   ID                                               text
0  ﻿34952194402811904  Save BBC World Service from Savage Cuts http:/...
1   34952186328784896  a lot of people always make fun about the end ...
2   34952041415581696  ReThink Group positive in outlook: Technology ...
3   34952018120409088  'Zombie' fund manager Phoenix appoints new CEO...
4   34952008683229185  Latest:: Top World Releases http://globalclass...

In [6]:
stop = stopwords.words('english')

In [7]:
df['text_without_stopwords'] = df['text'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop)]))
df['text_without_stopwords'] = df['text_without_stopwords'].str.replace('\d+', '')
df['text_without_stopwords']=df['text_without_stopwords'].apply(str.lower)

queriesDf['text_without_stopwords'] = queriesDf['title'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stop)]))
queriesDf['text_without_stopwords'] = queriesDf['text_without_stopwords'].str.replace('\d+', '')
queriesDf['text_without_stopwords'] = queriesDf['text_without_stopwords'].apply(str.lower)

<ipython-input-7-d442573762f1>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text_without_stopwords'] = df['text_without_stopwords'].str.replace('\d+', '')
<ipython-input-7-d442573762f1>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  queriesDf['text_without_stopwords'] = queriesDf['text_without_stopwords'].str.replace('\d+', '')

In [8]:
queriesDf['topic_id'] = queriesDf['num'].apply(lambda x : x.split(' '))
queriesDf['topic_id'] = queriesDf['topic_id'].apply(lambda x: x[1])

In [9]:
tokenizer = RegexpTokenizer(r'\w+')
pstemmer = PorterStemmer()

#tokenize and stem a string
#not used cuz got worse results with stemmed words
def tokenizer_stemmer(str):
    tokens = tokenizer.tokenize(str)
    for i in range(len(tokens)):
        tokens[i] = pstemmer.stem(tokens[i])
    return tokens

#tokenize dataframes
df['token'] = df['text_without_stopwords'].apply(lambda x: tokenizer.tokenize(x))
queriesDf['token'] = queriesDf['text_without_stopwords'].apply(lambda x: tokenizer.tokenize(x))

In [10]:
# detokenize for easier query/document vectorization
df['detoken']=df['token'].apply(lambda x: TreebankWordDetokenizer().detokenize(x))
queriesDf['detoken']=queriesDf['token'].apply(lambda x: TreebankWordDetokenizer().detokenize(x))

In [11]:
queriesDf.head()

,num,title,querytime,querytweettime,text_without_stopwords,topic_id,token,detoken
0,Number: MB001,BBC World Service staff cuts,Tue Feb 08 12:30:27 +0000 2011,34952194402811904,bbc world service staff cuts,MB001,"[bbc, world, service, staff, cuts]",bbc world service staff cuts
1,Number: MB002,2022 FIFA soccer,Tue Feb 08 18:51:44 +0000 2011,35048150574039040,fifa soccer,MB002,"[fifa, soccer]",fifa soccer
2,Number: MB003,Haiti Aristide return,Tue Feb 08 21:32:13 +0000 2011,35088534306033665,haiti aristide return,MB003,"[haiti, aristide, return]",haiti aristide return
3,Number: MB004,Mexico drug war,Wed Feb 02 17:22:14 +0000 2011,32851298193768448,mexico drug war,MB004,"[mexico, drug, war]",mexico drug war
4,Number: MB005,NIST computer security,Fri Feb 04 17:44:09 +0000 2011,33581589627666432,nist computer security,MB005,"[nist, computer, security]",nist computer security

In [12]:
df.head()

,ID,text,text_without_stopwords,token,detoken
0,﻿34952194402811904,Save BBC World Service from Savage Cuts http:/...,save bbc world service savage cuts http://www....,"[save, bbc, world, service, savage, cuts, http...",save bbc world service savage cuts http www pe...
1,34952186328784896,a lot of people always make fun about the end ...,lot people always make fun end world question ...,"[lot, people, always, make, fun, end, world, q...",lot people always make fun end world question ...
2,34952041415581696,ReThink Group positive in outlook: Technology ...,rethink group positive outlook: technology sta...,"[rethink, group, positive, outlook, technology...",rethink group positive outlook technology staf...
3,34952018120409088,'Zombie' fund manager Phoenix appoints new CEO...,'zombie' fund manager phoenix appoints new ceo...,"[zombie, fund, manager, phoenix, appoints, new...",zombie fund manager phoenix appoints new ceo p...
4,34952008683229185,Latest:: Top World Releases http://globalclass...,latest:: top world releases http://globalclass...,"[latest, top, world, releases, http, globalcla...",latest top world releases http globalclassifie...

In [13]:

#df['token'][26]#test to see if numbers have been removed
#print(df['token'][12898])

### Step 2: Indexing

In [14]:


# key [doc]
# reverse index
def create_index (data):
        index = defaultdict(list)
        count=0
        for i, tokens in enumerate(data):
            for token in tokens:
                index[token].append(i)
                #index[save].append(doc)
        return index



def count_occurrences(arr):
    return list(Counter(arr).items())



# key, [(doc#, count)]
def final_index(index):
    final=defaultdict(list)
    for key in index.keys():
        final[key] = count_occurrences(index[key])
    return final

# each token (save, bbc) as your dict key
# append the count_occurrences based on index
#final_index creates the final hash table for inverted index. {word: [(doc#, number of occurrences in that document)]}
# doc# in this case is the line number of the table, not the message ID.

In [15]:
test=create_index(df['token'])
test2=count_occurrences([0, 1, 44, 44, 443])
rev_index=final_index(test)

#print(len(rev_index.keys()))

In [16]:
print(list(rev_index.keys())[0:100]) # get a sample of 100 tokens from vocab

['save', 'bbc', 'world', 'service', 'savage', 'cuts', 'http', 'www', 'petitionbuzz', 'com', 'petitions', 'savews', 'lot', 'people', 'always', 'make', 'fun', 'end', 'question', 'is', 'are', 'u', 'ready', 'for', 'it', 'rethink', 'group', 'positive', 'outlook', 'technology', 'staffing', 'specialist', 'expects', 'revenues', 'marg', 'bit', 'ly', 'hfjtmy', 'zombie', 'fund', 'manager', 'phoenix', 'appoints', 'new', 'ceo', 'buys', 'funds', 'closed', 'business', 'dxrlh', 'latest', 'top', 'releases', 'globalclassified', 'net', 'cdt', 'presents', 'alice', 'in', 'wonderland', 'catonsville', 'dinner', 'posted', 'the', 'fb', 'me', 'gmicayt', 'territory', 'location', 'calgary', 'alberta', 'canada', 'job', 'category', 'bu', 'eomt', 'jobs', 'news', 'today', 'free', 'school', 'funding', 'plans', 'lack', 'transparency', 'co', 'uk', 'hi', 'newsid_', 'stm', 'manchester', 'city', 'council', 'details', 'saving', 'plan', 'fypypc', 'depressing', 'apparently', 'we']

## Step 3: Retrieval and Ranking

#### Initializing docvectorizer, and doc matrix

In [17]:
# query: list of tokens for a query
# docs: inverted hash index with key:value of token:[(doc_num,num_occurances,...)]
def related_documents_to_query(query, docs):
    related_docs = []
    for token in query:
        if token in docs:
            related_docs+=docs[token]

    nums_only = []
    for x in related_docs:
        nums_only.append(x[0])

    return set(nums_only)


#get vocabulary
vocab= []
for arr in df['token']:
    vocab += arr
vocab = set(vocab)

#create td-idf matrix
corpus = df['detoken']
docVectorizer = TfidfVectorizer(vocabulary = vocab, sublinear_tf=True)
docMatrix = docVectorizer.fit_transform(corpus)
docVocabulary = docVectorizer.vocabulary_
#docMatrix.toarray()


#find cosine similarity
#returns an array of (doc_num, similarity) tuples
def similarity_cosine(query_vector, docs):
    sim_arr = []
    
    for doc in docs: 
        similarity = pairwise.cosine_similarity(doc[1], query_vector)
        sim_arr.append((doc[0], similarity[0][0]))
    return sim_arr 


print(len(docVocabulary))

87685

#### Expanding queries with Pre trained neural model words embeddings

In [18]:
##Query expansion using trained neural model

# followed tutorial from https://medium.com/analytics-vidhya/basics-of-using-pre-trained-glove-vectors-in-python-d38905f356db
embeddings_dict = {}
# load word vectors
# pre trained twitter word vectors downloaded from http://nlp.stanford.edu/data/glove.twitter.27B.zip
with open("glovetwitter27B/glove.twitter.27B.50d.txt", 'r', encoding="utf-8") as f:
    for line in f:
        values = line.split()
        word = values[0]
        vector = np.asarray(values[1:], "float32")
        embeddings_dict[word] = vector

In [19]:

# return list of most similar words and eucladean distancec to a given word embedding vector
def find_closest_embeddings(embedding):
    distances = []
    for word in embeddings_dict.keys():
        try:
            dist = spatial.distance.euclidean(embeddings_dict[word], embedding)
            distances.append( (word, dist) )
        except Exception as e:
            continue
            #print(word)
    return sorted(distances, key=lambda tup: tup[1])
    #return sorted(embeddings_dict.keys(), key=lambda word: spatial.distance.euclidean(embeddings_dict[word], embedding))

# return expanded list containing similar words given  list of tokens
def expand_query_tokens( q_tokens ):
    expanded = q_tokens[:]
    for token in q_tokens:
        if token in embeddings_dict:
            closest = find_closest_embeddings(embeddings_dict[token])[1:4] # get 3 closest words
            expanded+= [tup[0] for tup in closest]
    return expanded

#print(expand_query_tokens(['hello','King'])) #King not in dict, expected ['hello', 'King', 'welcome', 'hey', 'dear']

In [20]:
f = open("expanded_queries.txt", "w+", encoding="utf-8") # to write expanded queries to file so as not to have to calculate again

#get an array containing the expanded queries
expanded_queries_arr = []
for index, q_row in queriesDf.iterrows():
    #expand the query vector
    expanded_query = expand_query_tokens( q_row['token'] )
    expanded_query = " ".join(str(x) for x in expanded_query) #detokenize
    expanded_queries_arr.append(expanded_query)
    f.write(expanded_query+'\n')  

f.close()

[('cnn', 2.745408773422241), ('headline', 2.880249261856079), ('nbc', 2.8921194076538086)]
[('earth', 2.754417896270752), ('dream', 2.7935903072357178), ('one', 2.8911826610565186)]
[('services', 2.6111581325531006), ('office', 2.843423366546631), ('client', 2.888474225997925)]
[('department', 2.9020767211914062), ('office', 2.931246280670166), ('group', 3.0342190265655518)]
[('raises', 3.110835075378418), ('costs', 3.321230411529541), ('cut', 3.38932204246521)]
35108223539224576	www.crack4djs.net/thegoodfellas New releases coming out on Thursday!! Currently ranked #1... Go check it out!!
 ['bbc', 'world', 'service', 'staff', 'cuts', 'cnn', 'headline', 'nbc', 'earth', 'dream', 'one', 'services', 'office', 'client', 'department', 'office', 'group', 'raises', 'costs', 'cut']
[('sport', 3.3742122650146484), ('league', 3.3807621002197266), ('xbox', 3.4306488037109375)]
[('football', 2.1471357345581055), ('volleyball', 2.4756181240081787), ('softball', 2.520517110824585)]
[('tanzania', 2.752716541290283), ('rwanda', 2.794280767440796), ('somalia', 2.8108975887298584)]
[('woodcock', 2.1875555515289307), ('bertram', 2.188401460647583), ('rosina', 2.252423048019409)]
[('returns', 2.5564897060394287), ('returning', 2.6542742252349854), ('sign', 2.8924944400787354)]
[('colombia', 2.2424821853637695), ('chile', 2.3828814029693604), ('ecuador', 2.39320969581604)]
[('drugs', 3.0007574558258057), ('cocaine', 3.5204968452453613), ('marijuana', 3.6252248287200928)]
[('battle', 3.6663756370544434), ('wars', 3.824178457260132), ('hunger', 3.836071252822876)]
[('nwar', 2.366171360015869), ('slj', 2.373910427093506), ('g.s', 2.4170570373535156)]
[('cell', 3.4193427562713623), ('desktop', 3.5320613384246826), ('laptop', 3.5867817401885986)]
[('safety', 3.1199023723602295), ('system', 3.2679576873779297), ('emergency', 3.3225417137145996)]
[('cia', 3.3996496200561523), ('fbi', 3.439232349395752), ('spying', 3.467167377471924)]
[('karachi', 2.8155088424682617), ('punjab', 3.060337543487549), ('lahore', 3.248995542526245)]
[('al-qaida', 2.8343968391418457), ('yemeni', 2.8849852085113525), ('policeman', 3.0073816776275635)]
[('assault', 2.7807857990264893), ('murder', 2.9020824432373047), ('alleged', 2.9196348190307617)]
[('victim', 2.6659295558929443), ('rape', 2.6909573078155518), ('arrest', 2.9020824432373047)]
[('charger', 3.5543246269226074), ('screen', 3.666752815246582), ('phones', 3.670377731323242)]
[('spying', 3.246854782104492), ('hacker', 3.254056215286255), ('threatening', 3.4790964126586914)]
[('american', 2.388512134552002), ('australian', 2.415083408355713), ('canadian', 2.6094765663146973)]
[('liberals', 2.648543357849121), ('corrupt', 2.6578056812286377), ('governments', 2.750216007232666)]
[('nissan', 1.438008189201355), ('mazda', 1.8396834135055542), ('honda', 1.9124946594238281)]
[('surprising', 3.1805286407470703), ('include', 3.236159563064575), ('replacing', 3.271519422531128)]
[('jordanian', 3.0323569774627686), ('persian', 3.0875072479248047), ('pakistani', 3.1863560676574707)]
[('protestors', 2.0763158798217773), ('demonstrators', 2.572645902633667), ('protests', 2.940007448196411)]
[('strike', 2.742420196533203), ('death', 2.913882255554199), ('attacks', 3.056190252304077)]
[('exhibition', 3.223942518234253), ('renaissance', 3.310659885406494), ('heritage', 3.3661949634552)]
[('ballack', 2.6663691997528076), ('cancellara', 2.6954214572906494), ('loeb', 2.782212734222412)]
[('plane', 2.606337308883667), ('helicopter', 2.9146227836608887), ('accident', 2.9892661571502686)]
35108223539224576	www.crack4djs.net/thegoodfellas New releases coming out on Thursday!! Currently ranked #1... Go check it out!!
 ['kubica', 'crash', 'ballack', 'cancellara', 'loeb', 'plane', 'helicopter', 'accident']
[('wikileaks', 2.535219430923462), ('snowden', 2.9030776023864746), ('netanyahu', 3.497849225997925)]
[('pulitzer', 3.701103925704956), ('bono', 3.7108054161071777), ('guiness', 3.738719940185547)]
[('spirit', 2.877605676651001), ('freedom', 3.0650177001953125), ('faith', 3.110734701156616)]
[('nominations', 2.9345526695251465), ('nominee', 3.1246354579925537), ('emmy', 3.309068441390991)]
[('winfrey', 2.296522378921509), ('rebecca', 2.7746763229370117), ('janet', 2.842334032058716)]
[('oprah', 2.296522378921509), ('twain', 3.1414647102355957), ('hawking', 3.3120696544647217)]
[('over', 2.8380486965179443), ('last', 2.975618600845337), ('had', 3.148793935775757)]
[('brother', 1.943933367729187), ('mom', 1.9475313425064087), ('dad', 2.0303733348846436)]
[('released', 2.5998451709747314), ('official', 2.622201681137085), ('extended', 3.0036020278930664)]
[('of', 2.548123359680176), ('from', 2.6641602516174316), ("'s", 2.760075092315674)]
[('shyt', 2.5308969020843506), ('ryt', 2.5606062412261963), ('dats', 2.705700159072876)]
[('hatfield', 3.1565542221069336), ('massey', 3.187523365020752), ('weston', 3.2197554111480713)]
[('returns', 2.5564897060394287), ('returning', 2.6542742252349854), ('sign', 2.8924944400787354)]
[('olympic', 2.2099573612213135), ('sochi', 3.0710740089416504), ('gymnastics', 3.3562633991241455)]
[('released', 2.5998451709747314), ('official', 2.622201681137085), ('extended', 3.0036020278930664)]
[('became', 2.732851505279541), ('possibly', 2.992851495742798), ('born', 3.007678270339966)]
[('danger', 3.0216076374053955), ('hidden', 3.0479695796966553), ('mysterious', 3.154567241668701)]
[('black', 1.501083493232727), ('blue', 2.4113645553588867), ('green', 2.5207767486572266)]
[('teal', 2.710723400115967), ('dots', 2.7482855319976807), ('stripe', 2.8631751537323)]
[('break-up', 2.6611478328704834), ('plot', 3.596109390258789), ('crushes', 3.809727191925049)]
[('robert', 1.7568918466567993), ('joseph', 2.0762853622436523), ('george', 2.0813612937927246)]
[('amy', 3.1762824058532715), ('nora', 3.3090426921844482), ('jane', 3.3258724212646484)]
[('reset', 2.9900379180908203), ('utorrent', 3.177912950515747), ('github', 3.1847963333129883)]
[('saving', 2.9160380363464355), ('bring', 2.96793270111084), ('carry', 3.127476215362549)]
[('of', 2.548123359680176), ('from', 2.6641602516174316), ("'s", 2.760075092315674)]
[('maybe', 3.3362348079681396), ('dates', 3.37440824508667), ('meet', 3.441777229309082)]
[('christie', 2.8527731895446777), ('jindal', 2.933473587036133), ('kasich', 2.98976993560791)]
[('tax', 2.6663920879364014), ('funding', 2.9566242694854736), ('policy', 3.0708277225494385)]
[('raises', 3.110835075378418), ('costs', 3.321230411529541), ('cut', 3.38932204246521)]
[('mcdonalds', 2.5497989654541016), ('burrito', 2.567711353302002), ('chipotle', 2.725653648376465)]
[('wendy', 2.7350900173187256), ('aka', 2.752798080444336), ('taco', 3.0654420852661133)]
[('fill', 3.2919628620147705), ('filled', 3.40612530708313), ('offering', 3.5617167949676514)]
[('lawsuits', 2.945848226547241), ('charges', 3.0693211555480957), ('investigation', 3.1333205699920654)]
[('ramon', 2.285987615585327), ('fabian', 2.4202442169189453), ('elias', 2.4263668060302734)]
[('itinerary', 3.242314577102661), ('resumes', 3.3129591941833496), ('concierge', 3.413203716278076)]
[('courts', 3.103433847427368), ('sec', 3.408874750137329), ('supreme', 3.47009539604187)]
[('infractions', 2.8585729598999023), ('jurisdiction', 3.0168614387512207), ('provocations', 3.055961847305298)]
35108223539224576	www.crack4djs.net/thegoodfellas New releases coming out on Thursday!! Currently ranked #1... Go check it out!!
 ['emanuel', 'residency', 'court', 'rulings', 'ramon', 'fabian', 'elias', 'itinerary', 'resumes', 'concierge', 'courts', 'sec', 'supreme', 'infractions', 'jurisdiction', 'provocations']
[('solutions', 3.192857503890991), ('insurance', 3.2775325775146484), ('health', 3.296140193939209)]
[('laws', 2.935842514038086), ('gov', 3.2603766918182373), ('bill', 3.373899459838867)]
[('exemption', 3.7192139625549316), ('ruling', 3.7985548973083496), ('violates', 3.8040878772735596)]
[('lirr', 2.477858543395996), ('eurostar', 2.787158250808716), ('megabus', 2.80013108253479)]
[('route', 3.8458898067474365), ('zone', 3.9905011653900146), ('trains', 4.11947774887085)]
[('services', 2.6111581325531006), ('office', 2.843423366546631), ('client', 2.888474225997925)]
[('mega', 2.8627212047576904), ('top', 3.366291046142578), ('wow', 3.8581979274749756)]

[('superbowl', 2.8949451446533203), ('buffalo', 3.615056037902832), ('halftime', 3.6355602741241455)]
[('seat', 3.1654200553894043), ('row', 3.3320138454437256), ('rooms', 3.7179458141326904)]
[('ped', 3.217222213745117), ('coe', 3.262561082839966), ('ems', 3.2670984268188477)]
[('incheon', 3.7860827445983887), ('bangkok', 3.8627419471740723), ('haneda', 3.8904106616973877)]
[('screenings', 2.920501232147217), ('airs', 3.1761252880096436), ('exhibition', 3.263402223587036)]
[('bring', 2.7794084548950195), ('our', 2.7977209091186523), ('will', 2.8255105018615723)]
[('inflation', 2.9625184535980225), ('debt', 2.9788923263549805), ('jobless', 3.1102092266082764)]
[('consume', 3.232283115386963), ('produce', 3.292715549468994), ('diabetes', 3.577742338180542)]
[('fuel', 3.0813217163085938), ('boost', 3.25868558883667), ('supply', 3.3655455112457275)]
[('increases', 3.4026997089385986), ('usage', 3.5274658203125), ('reducing', 3.6390697956085205)]
[('chicago', 1.5348154306411743), ('memphis', 1.6539332866668701), ('cleveland', 1.7074016332626343)]
[('taxi', 3.9561963081359863), ('gps', 4.063343048095703), ('nr', 4.132689952850342)]
[('shows', 2.8357348442077637), ('rock', 3.2654693126678467), ('live', 3.2831788063049316)]
[('capital', 3.243675470352173), ('asia', 3.3381571769714355), ('china', 3.398223876953125)]
[('vortex', 3.368075370788574), ('climate', 3.3858323097229004), ('smog', 3.4044086933135986)]
[('snow', 3.432149648666382), ('winter', 3.578885078430176), ('cold', 3.5828702449798584)]
[('craig', 2.0818049907684326), ('eddie', 2.1630735397338867), ('shannon', 2.2008183002471924)]
[('dimarco', 2.926196575164795), ('ardis', 2.937598705291748), ('wilmott', 2.941028594970703)]
[('check', 3.1680471897125244), ('our', 3.1975979804992676), ('the', 3.201842784881592)]
[('manager', 3.0849061012268066), ('business', 3.11553692817688), ('hiring', 3.211160182952881)]
[('present', 2.8095812797546387), ('valentine', 2.8535590171813965), ('event', 2.9785590171813965)]
[('olympic', 2.2099573612213135), ('sochi', 3.0710740089416504), ('gymnastics', 3.3562633991241455)]
[('cheerleaders', 3.2549002170562744), ('olympians', 3.328286647796631), ('coaches', 3.3967702388763428)]
35108223539224576	www.crack4djs.net/thegoodfellas New releases coming out on Thursday!! Currently ranked #1... Go check it out!!
 ['special', 'olympics', 'athletes', 'present', 'valentine', 'event', 'olympic', 'sochi', 'gymnastics', 'cheerleaders', 'olympians', 'coaches']
[('ohio', 2.8989977836608887), ('states', 3.175651788711548), ('michigan', 3.264216184616089)]
[('district', 2.5771005153656006), ('canada', 2.8646764755249023), ('america', 3.017024517059326)]
[('job', 3.260408401489258), ('hiring', 3.3804938793182373), ('healthcare', 3.3972506523132324)]
[('cat', 1.9183123111724854), ('dogs', 2.6135222911834717), ('puppy', 2.7485060691833496)]
[('poltergeist', 3.043060302734375), ('chewbacca', 3.1087894439697266), ('dumbo', 3.1214046478271484)]
[('raul', 2.0461158752441406), ('ramon', 2.0548348426818848), ('alberto', 2.1348114013671875)]
[('mariani', 2.4231619834899902), ('santini', 2.5628786087036133), ('zeo', 2.5731844902038574)]
[('c', 2.160356044769287), ('m', 2.173494577407837), ('l', 2.1870276927948)]
[('methods', 2.5831079483032227), ('strategies', 2.7022385597229004), ('technique', 2.9306044578552246)]
[('maddow', 2.469602584838867), ('hannity', 2.6010568141937256), ('rnc', 2.722433090209961)]
[('olivia', 1.6725623607635498), ('emily', 1.7182129621505737), ('amy', 1.820478916168213)]
[('msnbc', 2.469602584838867), ('edshow', 2.8520894050598145), ('hannity', 2.9542648792266846)]
[('sargeant', 2.507615566253662), ('falk', 3.072544813156128), ('doogie', 3.078394889831543)]
[('haydon', 2.951211452484131), ('scanlon', 2.9565823078155518), ('harel', 3.020623207092285)]
[('whovians', 3.415252923965454), ('gleeks', 3.462585210800171), ('shadowhunters', 3.5164382457733154)]
[('prague', 2.794046640396118), ('cairo', 2.823026657104492), ('warsaw', 2.913360834121704)]
[('incheon', 3.7860827445983887), ('bangkok', 3.8627419471740723), ('haneda', 3.8904106616973877)]
[('bombings', 2.2491910457611084), ('suspects', 2.991399049758911), ('massacre', 3.2245724201202393)]
[('ex-wife', 3.98398756980896), ('fiancee', 4.1641740798950195), ('kenadee', 4.167879104614258)]
[('progress', 3.026313543319702), ('operation', 3.1920857429504395), ('relief', 3.253204822540283)]
[('protest', 2.6390562057495117), ('protesters', 2.940007448196411), ('unrest', 3.2611238956451416)]
[('carter', 2.8043670654296875), ('davis', 2.901092290878296), ('johnson', 2.9649295806884766)]
[('jordanian', 3.0323569774627686), ('persian', 3.0875072479248047), ('pakistani', 3.1863560676574707)]
[('timetable', 3.607077121734619), ('cutoff', 3.69159197807312), ('canceled', 3.718553304672241)]
[('ozzy', 2.637829065322876), ('barker', 2.6956429481506348), ('rev', 2.7520365715026855)]
[('israeli', 2.8900723457336426), ('strikes', 2.9022512435913086), ('threats', 2.9433178901672363)]
[('kapone', 2.874844551086426), ('havok', 3.158996820449829), ('albini', 3.211623191833496)]
[('romney', 1.955437421798706), ('barack', 2.5048365592956543), ('president', 2.601496696472168)]
[('child', 2.8590056896209717), ('father', 3.2068417072296143), ('mother', 3.226635456085205)]
[('requirement', 3.0421504974365234), ('stamp', 3.235351085662842), ('certificates', 3.2447896003723145)]
35108223539224576	www.crack4djs.net/thegoodfellas New releases coming out on Thursday!! Currently ranked #1... Go check it out!!
 ['obama', 'birth', 'certificate', 'romney', 'barack', 'president', 'child', 'father', 'mother', 'requirement', 'stamp', 'certificates']
[('netherlands', 2.5925590991973877), ('belgium', 2.9014933109283447), ('denmark', 2.902927875518799)]
[('iraq', 2.6666924953460693), ('libya', 2.700226068496704), ('assad', 3.058645725250244)]
[('u.n.', 3.127258539199829), ('delegation', 3.1752328872680664), ('brahimi', 3.5340704917907715)]
[('surprising', 3.1805286407470703), ('include', 3.236159563064575), ('replacing', 3.271519422531128)]
[('moylan', 2.823012351989746), ('kohn', 3.1199610233306885), ('kaleta', 3.1467783451080322)]
[('coconut', 2.689457654953003), ('cocoa', 2.8259425163269043), ('lime', 2.8565444946289062)]
[('dim', 2.6113007068634033), ('cot', 3.0842998027801514), ('bun', 3.091986894607544)]
[('lawsuits', 2.945848226547241), ('charges', 3.0693211555480957), ('investigation', 3.1333205699920654)]
[('black', 1.501083493232727), ('blue', 2.4113645553588867), ('green', 2.5207767486572266)]
[('home', 2.418907642364502), ('room', 2.4197299480438232), ('town', 3.0005555152893066)]
[('staffer', 2.7220377922058105), ('deputy', 2.896131753921509), ('resigns', 3.030532121658325)]
[('ignored', 2.8029110431671143), ('rejected', 3.099216938018799), ('convinced', 3.250516653060913)]
[('politics', 2.7752158641815186), ('policy', 3.065885543823242), ('conservative', 3.2637224197387695)]
[('programs', 3.2682723999023438), ('nonprofits', 3.389324188232422), ('organizations', 3.3907899856567383)]
[('marketing', 2.6670799255371094), ('personal', 3.0093870162963867), ('popular', 3.292609930038452)]
[('social', 3.348722457885742), ('global', 3.5285651683807373), ('network', 3.6766090393066406)]
[('veneta', 2.0206120014190674), ('hering', 3.0923104286193848), ('marcopolo', 3.1297333240509033)]
[('bottega', 2.0206120014190674), ('systema', 3.388172149658203), ('vesta', 3.3969781398773193)]
[('products', 3.1622424125671387), ('fiber', 3.1678428649902344), ('herbs', 3.197739839553833)]
[('poultry', 2.78210186958313), ('forestry', 2.956930160522461), ('agricultural', 3.1066200733184814)]
[('requirement', 2.4464120864868164), ('guidelines', 3.019235849380493), ('required', 3.0749897956848145)]
[('jordanian', 3.0323569774627686), ('persian', 3.0875072479248047), ('pakistani', 3.1863560676574707)]
[('emergency', 3.1616291999816895), ('cleanup', 3.3029956817626953), ('emergencies', 3.3668606281280518)]
[('fuel', 2.7967090606689453), ('solar', 3.2961642742156982), ('fiber', 3.3115530014038086)]
[('radiation', 3.8066792488098145), ('insecticide', 3.8904597759246826), ('condensing', 3.9121925830841064)]
[('laws', 2.935842514038086), ('gov', 3.2603766918182373), ('bill', 3.373899459838867)]

#### Getting the Ranked Results

In [21]:
def rank_by_similarity(query_str, related_docs_matrix):
    # get similarities
    qvec = docVectorizer.transform([query_str]) # vectorize query
    sim_arr = similarity_cosine(qvec, related_docs_matrix)
    
    #sort by similarity
    ranked = sorted(sim_arr, key = lambda x : x[1], reverse = True)
    return ranked
    
# final results: array of length # of queries with tuples of (query, top_1000_docs)
# where top_1000_docs is an array of tuples of (doc_num, similarity)
final_results = []
for index, q_row in queriesDf.iterrows():
    # for each query, get set of related docs (doc #, num of occurences)
    related_docs = related_documents_to_query(q_row['token'], rev_index)
    
    related_docs_matrix = []
    #get vectors of related docs
    for doc_num in related_docs:
        related_docs_matrix.append((doc_num, docMatrix[doc_num]) )
    
    # get ranked related docs
    ranked = rank_by_similarity(q_row['detoken'],related_docs_matrix )   
    # rank top 1000
    top_1000 = ranked[0:1000]
    
    #rerank top 1000 after expanded query vectors
    related_docs_matrix_1000 = []
    docnums_1000 = [tup[0] for tup in top_1000]
    for doc_num in docnums_1000:
        related_docs_matrix_1000.append((doc_num, docMatrix[doc_num]) )
        
    reranked_1000 = rank_by_similarity(expanded_queries_arr[index] ,related_docs_matrix_1000 )
    
    # add to final results array
    final_results.append( (q_row['num'], reranked_1000) )

## Step 4: Write to file

In [23]:
# sample line: topic_id Q0 docno rank score tag
# topic_id: queriesDf['topic_id'][i]
# docno: df['ID'][resultsMatrix[i][j][0]]
# rank: j from resultsMatrix[i], +1 because highest rank is 1 not 0
# score: resultsMatrix[i][j][1]
# tag: passed in at function call

def write_results(tag, resultMatrix):
    
    f = open("results.txt", "w+", encoding="utf-8")
    
    for i in range(len(resultMatrix)):
        topic_id = queriesDf['topic_id'][i][2:].lstrip('0') #[2:].lstrip('0') to strip "MB" and leading 0s to end up with plain number

        for j in range(len(resultMatrix[i][1])): #array of 1000 docs in tuples (doc_row, similarity)
            
            docno = df['ID'][resultMatrix[i][1][j][0]]
            rank = j +1
            score = resultMatrix[i][1][j][1]
            new_line = topic_id + " Q0 " + str(docno) + " " + str(rank) + " " + str(score) + " " + tag + "\n"
            f.write(new_line)
        
    f.close()

In [24]:
write_results('STANDARD',final_results)